@import "@styles/variables.scss";

#SystemUsage {
    display: flex;
    justify-content: space-evenly;
    background-color: $card-bg;
    border-radius: 5px;
    margin: 10px;
    font-weight: 300;
}


.Usage {
  display: flex;
  flex-direction: column;
  // color: white;
  width: 30%;
  margin: 10px;
  text-align: center;
  line-height: 0.2;

  div {
    margin: 8px;
  }
}
